.jupyrefs-filebrowser {
  color: var(--jp-ui-font-color1);
  background: var(--jp-layout-color1);
  font-size: var(--jp-ui-font-size1);
  display: flex;
  flex-direction: column;
}

.jupyrefs-dirlisting {
  flex-grow: 1;
  overflow-y: auto;
}

.jupyrefs-dirlisting-root {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.jupyrefs-dirlisting-branch {
  margin: 0;
  padding-inline-start: 20px;
  list-style-type: none;
}

.jupyrefs-dirlisting-item {
  display: flex;
  flex-direction: row;
  column-gap: 2px;
  padding: 4px 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.jupyrefs-dirlisting-item.jupyrefs-mod-selected {
  color: var(--jp-ui-inverse-font-color1);
  background: var(--jupyrefs-brand-color1);
}

.jupyrefs-dirlisting-item:not(.jupyrefs-mod-selectable) {
  color: var(--jp-ui-font-color2);
  font-style: italic;
  font-size: 0.9em;
}

.jupyrefs-dirlisting-item.jupyrefs-mod-selectable:hover:not(.jupyrefs-mod-selected) {
  background: var(--jp-layout-color2);
}

.jupyrefs-dirlisting-itemicon {
  height: 16px;
  width: 16px;
}

.jupyrefs-dirlisting-itemicon svg {
  height: inherit;
}

.jupyrefs-dirlisting-itemtext {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}

/* vim: set ft=css: */
