.jupyrefs-pdfviewer {
  width: 100%;
  height: 100%;
}

.jupyrefs-pdfviewer-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
}

.jupyrefs-pdfviewer-viewer {
  position: absolute;
}

.jupyrefs-pdfviewer-viewer .page {
  border-width: 0 !important;
  margin: 9px !important;
}

/* vim: set ft=css: */
